<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wandingkeji.memberface.mapper.WdMemPushCardMapper">


	<select id="selectBySidAndMid" resultType="cn.wandingkeji.memberface.entity.WdMemberWxPush">
		select id,rule_name ruleName,sid,mid,card_id cardId,card_title cardTitle,create_time createTime,remark,status from wd_member_wx_push
		where sid=#{sid} and mid=#{mid}
	</select>


</mapper>